*{
    font-family: Arial, Helvetica, sans-serif;
    
}


.p{
    font-size: 25px;
}
.p1{
    font-size: 30px;
    color: rgb(255, 64, 0);
}
.h1{
    font-size: 20px;
    color: aqua;
}
.contner{
    margin: auto;
    background-color: blanchedalmond;
    border: 3px solid red;
    border-radius: 4px;
    width: 50%;
    padding: 10px 0px 0px 20px;
}
.ol{
    font-size: 20px;
}